/* 
   Murfreesboro Regional Soccer League style sheet 
   Filename: styles.css

   Author: Wirnkar Emmanuel.  
   Date: 07/08/2026    
   HTML5 and CSS3 Illustrated Unit D, Independent Challenge 2
 */

/* headings */
/* Reset styles  */
article, aside, body, div, footer, header, h1, h2, p {
	margin: 0;
	padding: 0;
	border: 0;
}
/* Body and Page Container  */
.container {
	max-width: 640px;
	margin: 0 auto;
	border: 3px;
	/*  Main Content  */
article {
	width: 55%;
	float: right;
	padding: 3%;
}
aside {
	width: 35%;
	float: left;
	padding: 2%;	
}
h2 {
	margin-bottom: 0.4em;
}
p {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
p.description {
	margin-left: 1em;
}
header {
   text-align: center;
   color: white;
   background-color: green;
   padding: 0.5em;
}

/* sidebar */
aside {
   background-color: lightgreen;
}

/* footer section */
footer {
   color: white;
   background-color: black;
   text-align: right;
   padding: 0.5em;
   clear: both;
}