/* 
   Eating Well in Season style sheet 
   Filename: styles.css

   Author:   
   Date:     
   HTML5 and CSS3 Illustrated Unit D, Independent Challenge 4
 */
 /*  Reset styles  */
 article, aside, body, div, footer, header, h1, h2, h3, nav, p, section {
	 margin: 0;
	 padding: 0;
	 border: 0;
 }

/* body and page container */
body {
   background-color: silver;
   margin: 0;
   padding: 0;
}
.container {
	max-width: 800px;
	margin: 0 auto;
}
aside {
	width: 35.5%;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
nav {
	margin: 0;
	padding: 0;
}

/* headings */
header {
   background-color: olive;
   color: floralwhite;
   margin: 0;
   padding: 0;
   text-align: left;
}
section {
	margin: 0;
	padding: 0;
}

/* position container */
.positioncontainer {
   background-color: gold;
   position: relative;
}

/* main content */
article {
   background-color: floralwhite;
   width: 62.5%;
   margin:0;
   padding:0;
   
}
article h2 {
   background-color: lightskyblue;
   margin; 0;
   padding: 0.5em;
   
}
article p {
	padding: 0.5em;
	margin: 0;
}

/* footer section */
footer {
   background-color: olive;
   color: floralwhite;
   text-align: right;
   margin: 0;
   padding: 0;
}