/* 
   Lakeland Reeds Bed and Breakfast style sheet 
   Filename: styles.css

   Author: Wirnkar Emmanuel  
   Date:18/07/2026     
   HTML5 and CSS3 Illustrated Unit D, Lessons
 */
 
/* reset styles */
article, body, div, footer, header, h1, h2, p {
   border: 0;
   padding: 0;
   margin: 0;   
}
/* body and page container */
.container {
	max-width: 640px;
	margin: 0 auto;
	
   background-color: beige;
   
}

/* headings */
header {
   background-color: darkgreen;
}
h1 {
	padding: 0.4em;
   color: white;
   text-align: center;
}
h2 {
	
	padding: 0.4em 0.6em;
}
/* main content */
article p {
	padding: 0 1em 1em;
}
	

/* sidebar */
aside {
	padding: 1em 0;
   background-color: goldenrod;
}
aside p {
	padding: 0.4em 0;
	margin: 0 0.6em;
   border-bottom: 1px solid black;
   border-top: 1px solid black;   
}

/* footer section */
footer {
	padding: 0.6em;
   color: white;
   background-color: darkgreen;
   text-align: center;
}
footer p{
	margin: 0.4em;
}
footer p.accent {
   color: goldenrod;
}
